* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
/* 
.wrapper-up {
  background-color: red;
  width: 100%;
  height: 100vh;
  display: flex;
}
.lista-chat {
  background-color: blue;
  width: 320px;
  height: 100vh;
  position: relative;
  overflow-y: auto;
}
.container-chat {
  background-color: pink;
  flex-grow: 1;
  height: 100vh;
  position: relative;
  overflow-y: auto;
}

.chat {
  position: absolute;
} */

.wrapper-up {
  width: 100%;
  height: 100vh;
  display: flex;
}

.lista-chat {
  width: 35%;
  height: 100vh;
  position: relative;
  overflow-y: auto;
}

.profilo-user {
  background-color: white;
  display: flex;
  padding: 10px 0;
  justify-content: space-between;
  height: 80px;
  border-right: solid lightgrey 1px;
}
.avatar {
  margin-left: 10px;
  padding-top: 5px;
  display: flex;
  align-items: center;
}

.pic {
  width: 50px;
  border-radius: 50%;
  margin-right: 10px;
}
.icone {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-right: 10px;
  color: lightgrey;
}

.notifiche {
  display: flex;
  padding: 20px 0;
  background-color: aquamarine;
}

.attiva {
  display: flex;
  align-items: center;
}
.bell {
  width: 60px;
  height: 50px;
  border-radius: 50%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin-left: 10px;
}
.fa-bell-slash {
  font-size: 20px;
  color: lightgrey;
}
.mex {
  margin-left: 10px;
}
.mex,
a {
  display: inline-block;
}
.searchbar {
  background-color: white;
  width: 100%;
  padding: 10px 0;
  border: solid 1px ligthgrey;
}
.fa-magnifying-glass {
  margin-left: 30px;
}
.search {
  width: 80%;
  padding: 10px;
  margin-left: 10px;
  border: solid 1px lightgrey;
  border-radius: 5px;
}

.chat-avviate {
  background-color: white;
  /* overflow-y: auto;
  position: relative; */
}

.profilo-chat {
  display: flex;
  align-items: flex-start;
  border-top: solid lightgrey 1px;
}
.prof-chat {
  display: flex;
  align-items: flex-start;
  border-top: solid lightgrey 1px;
}
.info-chat {
  width: 50%;
}
.propic {
  width: 10%;
  border-radius: 50%;
}

.info-user {
  padding-left: 10px;
  flex-grow: 1;
}
.nome {
  font-size: 20px;
}
.ultimo-mess {
  font-size: 15px;
  color: grey;
}
.chat {
  background-color: white;
}

.container-chat {
  background-color: pink;
  width: 65%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow-y: auto;
}

.profilo-chat {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid lightgrey;
}

.icone-destra {
  margin-right: auto;
}
.messaggi {
  display: flex;
  flex-direction: column;
  background-color: pink;
}
.messaggio-mio {
  background-color: lightgreen;
  margin: 20px 30px;
  padding: 10px;
  width: 200px;
  border-radius: 5px;
  align-self: flex-end;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown-content a:hover {
  background-color: #ddd;
}
.messaggio-mio:hover .dropdown-content {
  display: block;
}
.messaggio-mio:hover .dropbtn {
  background-color: #3e8e41;
}
.messaggio-altro {
  background-color: white;
  margin-left: 30px;
  padding: 10px;
  width: 200px;
  border-radius: 5px;
  align-self: flex-start;
}
.send-message {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  gap: 25px;
  align-items: center;

  padding: 10px;
  box-shadow: 0px -5px 10px rgba(0, 0, 0, 0.1);
}

.new-text {
  flex-grow: 1;
  padding: 10px;
}
